<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .Title }}</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 p-4">
    <header class="mb-6" id="header">
      <h1>{{ .Header }}</h1>
    </header>
    <div>
      <p>Below will be a list of times</p>
    </div>
    <button hx-get="/changeTimes" hx-target="#times" hx-swap="outerHTML" class="bg-yellow-400">
      this button swaps the list
    </button>
    <div>
      <ul id="times" class="border-x-zinc-400">
        {{ range .Times }}
        <li>{{ . }}</li>
        {{ end }}
      </ul> 
    </div>
    <button hx-get="/wharswap" hx-target="#message" hx-swap="outerHTML" class="bg-blue-400">
      swap message button
    </button>
    <div id="message" class="bg-red-600">
      <p>{{ .Message }}</p>
    </div>
  </body>
</html>
