package htmlstuff

templ LeftSide(message string) {
	<div class="w-[70%]">
		<button class="bg-red-600" hx-get="/msgswap" hx-target="#message-div">
			swap message
		</button>
		<div id="message-div">
			<p>{ message }</p>
		</div>
		<button class="bg-purple-500" hx-get="/changefilter" hx-swap="none">swap to bob</button>
	</div>
}
