package htmlstuff

templ RightSide() {
	<div class="w-[30%]">
		<button class="bg-green-400" hx-get="/tracktimes" hx-target="#times">
			swap list
		</button>
		<div id="times" class="table-auto border border-r-gray-300 bg-yellow-300"></div>
	</div>
}
